<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8" />
<head th:replace="layout/layout :: head"></head>
<body>
	<div class="wrapper">
		<nav th:replace="layout/layout :: nav-up"></nav>
		<aside th:replace="layout/layout :: nav-left"></aside>
		<div class="content-wrapper">
			<div class="container py-4 ">

				<div class="card bg-dark text-white row col col-lg-12">


					<form th:action="@{/cliente/form}" th:object="${cliente}"
						method="post" enctype="multipart/form-data">

						<div class="col-lg-12 ">
							<div
								class="d-flex  justify-content-lg-center justify-content-md-center justify-content-sm-center align-items-center">



								<img
									th:if="${session.imagencli != false && #strings.length(session.imagencli)>0}"
									class="rounded-circle    img-thumbnail mr-3 mt-3 "
									th:src="@{'/cliente/imagenCliente/'+${session.imagencli}}"
									th:alt="@{'/cliente/ver/'}"
									style="width: 200px; height: 200px;" id="frame"> <img
									th:if="${#strings.length(session.imagencli)==0}"
									th:src="@{'/images/uno.jpg'}"
									class="rounded-circle    img-thumbnail mr-3 mt-3 " alt="esta"
									id="frame" style="width: 200px; height: 200px;">




							</div>

							<div
								class="d-flex  justify-content-lg-center justify-content-md-center justify-content-sm-center align-items-center">
								<div
									class="h-30 btn-group-vertical  col-form-label align-self-center">
									<span class="btn btn-success btn-file">Cambia Imagen<input
										type="file" name="file" accept="image/*"
										class="btn btn-danger col-Lg-3 col-md-9 col-sm-12" id="imgInp"
										onchange="preview()" /></span>




								</div>
							</div>
						</div>
						<div
							class="d-flex  justify-content-lg-center justify-content-md-center justify-content-sm-center align-items-center">

							<div class="col-Lg-9 col-md-9 col-sm-9">
								<div class="card-body">
									<h4 th:text="${titulo}"></h4>
									<input type="hidden" th:field="*{id}" class="form-control"
										th:errorclass="'form-control alert-danger'"
										 />


									<div class="form-group row">
										<label for="nicname"
											class="col-Lg-6 col-md-6 col-sm-9 col-form-label">Nombre
											de usuario</label>
										<div class="col-Lg-6 col-md-9 col-sm-9">
											<input type="text" th:field="*{nicname}" class="form-control"
												th:errorclass="'form-control alert-danger'"
												disabled='disabled' />
										</div>
									</div>
									<div class="form-group row">
										<label for="password"
											class="col-Lg-6 col-md-6 col-sm-9  col-form-label">Antigua
											Contraseña</label>
										<div class="col-Lg-6 col-md-9 col-sm-9">
											<input type="password" th:field="${cliente.password}"
												class="form-control"
												th:errorclass="'form-control alert-danger'" />
										</div>
									</div>
									<div class="form-group row">
										<label for="repeatPass"
											class="col-Lg-6 col-md-6 col-sm-9  col-form-label">Nueva
											Contraseña</label>
										<div class="col-Lg-6 col-md-9 col-sm-9">
											<input type="password" th:field="${cliente.repeatPass}"
												class="form-control" />
										</div>
									</div>

									<div class="form-group row">
										<label for="email"
											class="col-Lg-6 col-md-6 col-sm-9  col-form-label">Modificar
											Correo</label>
										<div class="col-Lg-6 col-md-9 col-sm-9">
											<input type="text" th:field="*{email}" class="form-control"
												th:errorclass="'form-control alert-danger'">
										</div>
									</div>
									<div class="form-group row">
										<div class="col-Lg-3 col-md-3 col-sm-9">
											<input type="submit" class="btn btn-secondary btn-block"
												th:value="'Guardar'" />
										</div>
									</div>
								</div>

							</div>
						</div>
					</form>



				</div>
			</div>
			<footer th:replace="layout/layout :: footer"></footer>
		</div>

	</div>


	<script th:replace="usuario/cargaimg :: javascript"></script>
</body>

</html>