<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<meta charset="UTF-8" />


<head th:fragment="head">




<title th:text="'Shoping Barrio'"></title>
<!-- inicial thymeleaft -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
<link rel="stylesheet" th:href="@{/css/all.css}" />

<!-- Ionicons -->
<link rel="stylesheet"
	href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- overlayScrollbars -->
<link rel="stylesheet" th:href="@{/css/OverlayScrollbars.min.css}">
<!-- Theme style -->
<link rel="stylesheet" th:href="@{/css/adminlte.min.css}">
<!-- Google Font: Source Sans Pro -->
<link
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
	rel="stylesheet">
<!-- data tables -->


<link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css">
<style type="text/css">

/*table tablapedidos*/

/*tno tabla
*/
.zoom:hover {
	/* tranformamos el elemento al pasar el mouse por encima al doble de
										           su tamaño con scale(2). */
	transform: scale(1.1);
	-moz-transform: scale(1.1); /* Firefox */
	-webkit-transform: scale(1.1); /* Chrome - Safari */
	-o-transform: scale(1.1); /* Opera */
	/*text-align:center;*/
}

body {
	position: relative;
}

.anyClass {
	height: 500px;
	overflow-y: scroll;
}
</style>
</head>


<header th:fragment="header">

	<div class="alert alert-success" th:if="${success != null}"
		th:text="${success}"></div>
	<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
	<div class="alert alert-danger" th:if="${error != null}"
		th:text="${error}"></div>
	<p class="alert alert-success container-fluid" th:text="${mensaje}">hola</p>

</header>

<div class="wrapper">



	<!-- Navbar barras-->
	<nav class="main-header navbar navbar-expand navbar-white navbar-light"
		th:fragment="nav-up">
		<!-- Left navbar links Iconos izquierda -->
		<ul class="navbar-nav">
			<li class="nav-item"><a class="nav-link" data-widget="pushmenu"
				href="#" role="button"> <ion-icon name="apps-outline"></ion-icon>
			</a></li>
			<li class="nav-item d-none d-sm-inline-block"><a th:href="@{/}"
				class="nav-link" th:text="Inicio">Inicio<ion-icon
						name="alert-outline"></ion-icon></a></li>
			<li sec:authorize="!isAuthenticated()"
				class="nav-item d-none d-sm-inline-block"><a
				th:href="@{/login}" class="nav-link">Login</a></li>
		</ul>

		<!-- SEARCH FORM -->

		<!-- Right navbar links  iconos derecha-->
		<ul class="navbar-nav ml-auto">
			<!-- Messages Dropdown Menu -->



			<form id="logoutForm" th:action="@{/logout}" method="post">
				<button class="dropdown-item"
					onclick="document.getElementById('logoutForm').submit();"
					type="submit" th:text="Salir" sec:authorize="isAuthenticated()">Sign
					Out</button>
				<input type="hidden" th:name="${_csrf.parameterName}"
					th:value="${_csrf.token}" />
			</form>


			<li class="nav-item"><a class="btn btn-outline-primary"
				th:href="@{/cliente/form}" sec:authorize="!isAuthenticated()">Registar
					usuario <ion-icon name="person-outline"></ion-icon>
			</a></li>
		</ul>
	</nav>
	<!-- /.navbar -->

	<!-- Main Sidebar Container -->
	<aside class="main-sidebar sidebar-dark-primary elevation-4"
		th:fragment="nav-left">
		<!-- Brand Logo -->
		<a href="index3.html" class="brand-link"> <span
			class="brand-text font-weight-light">Shoping Barrio (Agregar
				img)</span>
		</a>

		<!-- Sidebar -->
		<div class="sidebar">
			<!-- Sidebar user panel (optional) -->
			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
				<div class="image">Img usuario</div>
				<div class="info">
					<a href="#" class="d-block">Link datos usuario</a>

				</div>
			</div>

			<!-- Sidebar Menu -->
			<nav class="mt-2">
				<ul class="nav nav-pills nav-sidebar flex-column"
					data-widget="treeview" role="menu" data-accordion="false">

					<!-- desplegable en sidebar -->

					<li sec:authorize="hasRole('ROLE_COMERCIO')"
						class="nav-item has-treeview"><a href="#" class="nav-link">
							<i class="nav-icon fas fa-tachometer-alt"></i>
							<p>
								Dashboard <i class="right fas fa-angle-left"></i>
							</p>
					</a>
						<ul class="nav nav-treeview">
							<li class="nav-item"><a
								th:href="@{/productos/form/}+ ${comercio}" class="nav-link">
									<i class="far fa-circle nav-icon"></i>
									<p>Registrar Producto</p>
							</a></li>
							<li class="nav-item"><a href="../../index2.html"
								class="nav-link"> <i class="far fa-circle nav-icon"></i>
									<p>Otro</p>
							</a></li>
							<li class="nav-item"><a href="../../index3.html"
								class="nav-link"> <i class="far fa-circle nav-icon"></i>
									<p>Dashboard v3</p>
							</a></li>
						</ul></li>


					<li sec:authorize="hasRole('ROLE_COMERCIO')" class="nav-item"><a
						th:href="@{/productos/form/}+ ${comercio}" class="nav-link"> <ion-icon
								name="albums-outline"></ion-icon>
							<p>Registrar Producto</p>
					</a></li>



				</ul>

			</nav>
			<!-- /.sidebar-menu -->
		</div>
		<!-- /.sidebar -->
	</aside>



	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Control sidebar content goes here -->
		<div class="p-3">
			<h5>Title</h5>
			<p>Sidebar content</p>
		</div>
	</aside>


	<!-- ./wrapper -->





</div>








<footer th:fragment="footer" class="container">
	<div class="card col-lg-6 col-sm-12">
		<p>
			Este proyecto fue desarrollado en IDE Eclipse + Spring Plugins,
			Thymeleaft , Mysql por Martín Lugani, Luis Cikotic, Ezequiel Ortiz y
			Nicolas Rios, para la materia Trabajo final a cargo de los profesores
			.Para la carrera de Lic. en Gestion de Nuevas Técnologias <br /> <small>&copy;
				En el año 2020 V1.0.0</small> <br />
		</p>
		<div sec:authorize="isAuthenticated()">
			<span>Usuario logeado:</span> <span sec:authentication="name"></span>
			| <span>Roles:</span> <span
				sec:authentication="principal.authorities"></span>
		</div>

	</div>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Bootstrap JS -->


	<!-- inicial thymeleft -->

	<script th:src="@{/js/popper.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery-ui.min.js}"></script>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


	<script th:src="@{/js/bootstrap.min.js}"></script>

	<script th:src="@{/js/bootstrap.js}"></script>
	<!-- overlayScrollbars -->
	<script th:src="@{/js/adminlte/jquery.overlayScrollbars.min.js}"></script>

	<!-- AdminLTE App -->
	<script th:src="@{/js/adminlte/adminlte.min.js}"></script>
	<!-- AdminLTE for demo purposes -->
	<script th:src="@{/js/adminlte/demo.js}"></script>
	<!-- Bootstrap 4 -->
	<script th:src="@{/js/adminlte/bootstrap.bundle.min.js}"></script>
	<!-- jQuery -->
	<script th:src="@{/js/adminlte/jquery.min.js}"></script>

	<script th:src="@{/js/adminlte/all.js}"></script>
	<script src="https://unpkg.com/ionicons@5.2.3/dist/ionicons.js"></script>
	<!-- datatables -->
	<script th:src="@{/js/jquery.dataTables.js}"></script>
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
	
	<script type="text/javascript"
		src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#tab").DataTable();
		});
		$.extend( $.fn.dataTable.defaults, {
		    searching: false,
		    paging: false,
		    scrollY: 400
		} );
	</script>
	<script type="text/javascript">
		$(document)
				.ready(
						function() {
							$("#myBuscador")
									.on(
											"keyup",
											function() {
												var value = $(this).val()
														.toLowerCase();
												$("#card section")
														.filter(
																function() {
																	$(this)
																			.toggle(
																					$(
																							this)
																							.text()
																							.toLowerCase()
																							.indexOf(
																									value) > -1)
																});
											});
						});
	</script>
	<script type="text/javascript">
		$(document).ready(function() {

			//$(".table").hide();

			$(".target").on("click", function() {
				//	$('#target').show(); //muestro mediante id
				//		$('.table').show(); //muestro mediante clase

				var id = $(this).attr('id');
				console.log($(this).attr('id'));

				var nombre = $("#nombre_" + $(this).attr('id')).attr('value');
				var precio = $("#precio_" + $(this).attr('id')).attr('value');

				if (itemsHelper.hasProducto(id)) {
					itemsHelper.incrementaCantidad(id, precio);
					return false;
				}

				console.log("Estes es e val " + precio);

				var linea = $("#cuerpoPedido").html();

				linea = linea.replace(/{ID}/g, id);
				linea = linea.replace(/{NOMBRE}/g, nombre);
				linea = linea.replace(/{PRECIO}/g, precio);
				console.log(linea);
				$("#cargarItemProductos tbody").append(linea);

				itemsHelper.calcularImporte(id, precio, 1);
				$('#carrito').css("display", "block");
				console.log('apreto');
				return false;
			});
			$("form").submit(function() {
				console.log($("#cuerpoPedido").html);
				$("#cuerpoPedido").remove();
				var cuerp = $("#cuerpoPedido").html;
				console.log(cuerp);
				return;
			});

		});
		var itemsHelper = {
			calcularImporte : function(id, precio, cantidad) {
				$("#total_importe_" + id).html(
						parseInt(precio) * parseInt(cantidad));
				this.calcularGranTotal();
			},
			hasProducto : function(id) {

				var resultado = false;
				console.log(id);
				$('input[name="item_id[]"]').each(function() {
					if (parseInt(id) == parseInt($(this).val())) {
						resultado = true;
					}
				});

				return resultado;
			},
			incrementaCantidad : function(id, precio) {
				var cantidad = $("#cantidad_" + id).val() ? parseInt($(
						"#cantidad_" + id).val()) : 0;
				$("#cantidad_" + id).val(++cantidad);
				this.calcularImporte(id, precio, cantidad);
			},
			eliminarLineaPedido : function(id) {
				$("#row_" + id).remove();
				this.calcularGranTotal();
			},
			calcularGranTotal : function() {
				var total = 0;

				$('span[id^="total_importe_"]').each(function() {
					total += parseInt($(this).html());
				});

				$('#gran_total').html(total);
			}
		};
	</script>
</footer>
</html>